{% extends 'base.html.twig' %}

{% block title %}Inscription au site{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="col-md-8 offset-md-3 bg-light mt-5 mb-5 p-3">
            <h1 class="text-center">Inscription sur CarSale</h1>
            {{form_start(myForm)}}
                {{form_widget(myForm)}}
                    <button type="submit" class="btn btn-success mb-5 mt-5">Confirmez l'inscription</button>
            {{form_end(myForm)}}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
     <script>
        $('.custom-file input').change(function (e) {
            var files = [];
            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this).next('.custom-file-label').html(files.join(', '));
        });
    </script>
{% endblock %}