{% extends 'base.html.twig' %}

{% block title %}Nos véhicules d'occassions{% endblock %}

{% block body %}
    <div class="slidevente">
        <div class="container">
            <h1 class="my-3">Nos véhicules d'occassions</h1>
            <div class="row">
            
            </div>
        </div>
    </div>
{% endblock %}