{% extends 'base.html.twig' %}

{% block title %}Nos véhicules neufs{% endblock %}

{% block body %}
    <div class="slidevente">
        <div class="container">
            <h1 class="my-3">Nos véhicules neufs</h1>
            <div class="row">
            
            </div>
        </div>
    </div>
{% endblock %}
